/*! core.scss | Cryptos | Kit 1 | CSS Ninja */

/* ==========================================================================
Kit 1 core 
========================================================================== */

/***
TABLE OF CONTENTS
=============================================================================
0. CSS Imports
1. Resets and base setup
=============================================================================
***/

/* ==========================================================================
0. CSS Imports
========================================================================== */

@import 'partials/theme-default';
@import 'partials/colors';
@import 'partials/layout';
@import 'partials/features';
@import 'partials/buttons';
@import 'partials/pageloader';
@import 'partials/particles';