/*! core.scss | Krypton | CSS Ninja */

/* ==========================================================================
Core 
========================================================================== */

/***
TABLE OF CONTENTS
=============================================================================
0. CSS Imports
=============================================================================
***/

/* ==========================================================================
0. CSS Imports
========================================================================== */

@import 'abstracts/theme-default';
@import 'abstracts/colors';
@import 'abstracts/animations';

@import "../../node_modules/bulma/bulma.sass";

@import 'components/buttons';
@import 'components/forms';
@import 'components/hamburger';
@import 'components/backtotop';
@import 'layout/layout';
@import 'layout/hero';
@import 'layout/features';
@import 'layout/timeline';
@import 'layout/team';
@import 'layout/faq';
@import 'layout/blog';
@import 'layout/footer';
@import 'layout/pageloader';
@import 'layout/responsive';