/*! _buttons.scss | Cryptos | Kit 1 | CSS Ninja */

/* ==========================================================================
Button styles
========================================================================== */

/***
TABLE OF CONTENTS
=============================================================================
0. Basic buttons
1. Colored buttons
=============================================================================
***/

/* ==========================================================================
0. Basic buttons
========================================================================== */

.button {
    &.k-button {
        min-width: 130px;
        //font-weight: 400;
        font-size: .75rem;
        height: 40px;
        &.is-fat {
            padding: 26px 40px !important;
        }
    }
    //Hover raised buttons
    &.raised:hover {
        box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2) !important;
        //opacity: 0.8;
    }
    //Uppercase button
    &.upper-button {
        text-transform: uppercase;
    }
    //Rounded buttons
    &.rounded {
        border-radius: 500px;
    }
    //Bold weight
    &.is-bold {
        font-weight: 500 !important;
        text-transform: uppercase;
        border-width: 2px;
    }
    &.slanted {
        transform: skewX(-18deg);
        border: none !important;
        .text {
            transform: skewX(18deg);
            position: relative;
            display: block;
            z-index: 3;
        }
    }
    &.k-primary {
        color: $white;
        &.has-gradient {
            position: relative;
            transition: all .6s ease-out !important;
            //background-size:1px 200px; 
            border: none !important;
            background: #7f00ff;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to top, #7f00ff, #3f00fc) !important;  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to top, #7f00ff, #3f00fc) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            opacity: 1;
            z-index: 0;
            .text {
                position: relative;
                display: block;
                z-index: 3;
                opacity: 1 !important;
            }
            &:hover {
                .front-gradient {
                    opacity: 0;
                }
            }
            .front-gradient {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                border-radius: 3px;
                background: #7f00ff;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #7f00ff, #3f00fc) !important;  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #7f00ff, #3f00fc) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                opacity: 1;
                transition: all .6s ease-out !important;
                z-index: 1;
            }
            &.rounded {
                .front-gradient {
                    border-radius: 1000px;
                }
            }
            &.raised {
                &:hover {
                    box-shadow: $primary-box-shadow !important;
                    opacity: 0.95;
                }
            }
        }
    }
    &.k-secondary {
        color: $white;
        &.has-gradient {
            position: relative;
            transition: all .6s ease-out !important;
            //background-size:1px 200px; 
            border: none !important;
            background: #00ff99;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #00ff99, #33ccff) !important;  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #00ff99, #33ccff) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            opacity: 1;
            z-index: 0;
            .text {
                position: relative;
                display: block;
                z-index: 3;
                opacity: 1 !important;
            }
            &:hover {
                .front-gradient {
                    opacity: 0;
                }
            }
            .front-gradient {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                border-radius: 3px;
                background: #00ff99;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to left, #00ff99, #33ccff) !important;  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to left, #00ff99, #33ccff) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                opacity: 1;
                transition: all .6s ease-out !important;
                z-index: 1;
            }
            &.rounded {
                .front-gradient {
                    border-radius: 1000px;
                }
            }
            &.raised {
                &:hover {
                    box-shadow: $secondary-box-shadow !important;
                    opacity: 0.95;
                }
            }
        }
    }
}

.button {
    //Hover raised buttons
    &.raised:hover {
        box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
        //opacity: 0.8;
    }
    //Uppercase button
    &.upper-button {
        text-transform: uppercase;
    }
    //Rounded buttons
    &.rounded {
        border-radius: 500px;
    }
    &.slanted {
        transform: skewX(-18deg);
        border: none !important;
        /*.front-gradient {
        transform: skewX(-18deg); 
    }
        .text-upper {
        transform: skewX(18deg);
    }*/
    }
    //Helios CTA button
    &.feather-button {
        min-width: 130px;
        font-weight: 200;
        //font-size: 80%;
        font-size: .75rem;
        height: 40px;
        &.is-fat {
            padding: 26px 40px !important;
        }
        &.is-pushed {
            margin-left: auto;
        }
        svg {
            position: relative;
            top: 1px;
            width: 17px;
            height: 17px;
            margin-right: 8px;
        }
        //size modifier
        &.is-small {
            min-width: 100px;
            height: 32px;
            font-size: 60%;
            font-weight: 500;
        }
        //Bold weight
        &.is-bold {
            font-weight: 500 !important;

            text-transform: uppercase;
            border-width: 2px;
        }
    }
}

button[type=submit], .will-upload {
    display: block !important;
    text-align: center !important;
}

/* ==========================================================================
1. Colored Buttons
========================================================================== */

//primary button
.button.primary-button {
    outline: none;
    border-color: $primary;
    background-color: $primary;
    color: $white;
    transition: all 0.5s;
    &:hover {
        color: $white;
    }
    //raised state
    &.raised:hover {
        box-shadow: $primary-box-shadow;
        opacity: 0.9.5;
    }
    //outlined button
    &.btn-outlined {
        border-color: $primary;
        color: $primary !important;
        background-color: transparent; 
        &:hover {
            color: $white;
            background-color: $primary;
        }
    }
    &:focus {
        border-color: $primary;
    }
}

//secondary button
.button.secondary-button {
    outline: none;
    border-color: $secondary;
    background-color: $secondary;
    color: $white;
    transition: all 0.5s;
    &:hover {
        color: $white;
    }
    //raised state
    &.raised:hover {
        box-shadow: $secondary-box-shadow;
        opacity: 0.95;
    }
    //outlined button
    &.btn-outlined {
        border-color: $secondary;
        color: $secondary !important;
        background-color: transparent; 
        &:hover {
            color: $white !important;
            background-color: $secondary;
        }
    }
    &:focus {
        border-color: $secondary;
    }
    &.has-gradient {
        transition: background 4s ease-out !important;
        background-size:1px 200px; 
        border: none !important;
        background: #00D1B2 !important;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #00D1B2, #00D1B2) !important;  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #00D1B2, #00D1B2) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        &:hover {
            background-position:100px !important;
            background: #00C9FF !important;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF) !important;  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #92FE9D, #00C9FF) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }
    }
}

//Grey button
.button.grey-button {
    outline: none;
    border-color: $accent-grey;
    background-color: $accent-grey;
    color: $white;
    transition: all 0.5s;
    &:hover {
        color: $white;
    }
    //raised state
    &.raised:hover {
        opacity: 0.8;
    }
    //outlined button
    &.btn-outlined {
        border-color: $accent-grey;
        color: $accent-grey;
        background-color: transparent;
        &:hover {
            color: $white;
            background-color: $accent-grey;
        }
    }
    &:focus {
        border-color: $accent-grey;
    }
}
