.video-button {
    position: relative;
    height: 54px;
    width: 54px;
    background: $secondary;
    background: -webkit-linear-gradient(to right, $secondary, $secondary-accent) !important;
    background: linear-gradient(to right, $secondary, $secondary-accent) !important; 
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    cursor: pointer;
    img {
        position: relative;
        display: block;
        width: 24px;
        height: 24px;
        left: 2px;
        z-index: 3;
    }
    &:after {
        content: '';
        position: absolute;
        top: calc(50% - 12px);
        left: calc(50% - 12px);
        height: 24px;
        width: 24px;
        border-radius: 50%;
        background: $secondary;
        background: -webkit-linear-gradient(to right, $secondary, $secondary-accent) !important;
        background: linear-gradient(to right, $secondary, $secondary-accent) !important; 
        animation: pulse 1.6s infinite;
        animation-duration: 2s;
        transform-origin: center center ;
        z-index: 0;
    }
}


@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    25% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(4.5);
        opacity: 0;
    }
}


.feature {
    text-align: center;
    img {
        display: block;
        margin: 0 auto;
        max-height: 180px;
    }
    h4 {
        margin-top: 10px;
        font-family: 'Cabin', sans-serif;
    }
}

.side-feature {
    max-height: 500px;
}

.side-feature-content {
    img {
        max-height: 50px;
        width: 50px;
        //display: block;
    }
    p {
        &.is-light {
            color: $white;
        }
        &.is-light-blue {
            color: #d5ebff;
        }
    }
    h3 span {
        padding: 0 10px;
    }
}


.flying-tabs-container {
    max-width: 560px;
    margin: 0 auto;
    .flying-tabs {
        li {
            display: inline;
            text-align: center;
            &.is-active a {
                color: $white !important;
            }
        }

        a {
            font-family: 'Cabin', sans-serif;
            display: inline-block;
            width: 24.4%;
            padding: .75rem 0;
            text-decoration: none;
            color: #4700bc;
            transition: all .3s;
            &:hover {
                color: lighten(#1e004f, 15%);
            }
        }

        .tab-1.is-active {
            margin: 0;
        }

        .tab-2.is-active ~ hr {
            margin-left: 25%;
        }

        .tab-3.is-active ~ hr {
            margin-left: 50%;
        }

        .tab-4.is-active ~ hr {
            margin-left: 75%;
        }

        /*.two:hover ~ hr {
        margin-left: 25%;
    }

        .three:hover ~ hr {
        margin-left: 50%;
    }

        .four:hover ~ hr {
        margin-left: 75%;
    }*/

        hr {
            height: 2px;
            border-radius: 10px;
            width: 25%;
            margin: 0;
            background: #7f00ff;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to top, #7f00ff, #3f00fc) !important;  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to top, #7f00ff, #3f00fc) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            border: none;
            transition: .3s ease-in-out;
        }
    }
}

.tab-content {
    display: none;
    min-height: 312px;
    margin-top: 40px;
    &.is-active {
        display: block;
    }
    img {
        height: 320px;
        animation-delay: .3s;
    }
    .ico-card {
        width: 100%;
        background: #7f00ff;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #7f00ff, #3f00fc) !important;  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #7f00ff, #3f00fc) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: $white;
        padding: 20px 40px;
        border-radius: 6px;
        animation-delay: .3s;
        .progress-block {
            .progress-tags {
                display: flex;
                padding: 20px 30px;
                div {
                    position: relative;
                    text-align: right;
                    font-family: 'Cabin', sans-serif;
                    font-size: .65rem;
                    text-transform: uppercase;
                    &:before {
                        content: '';
                        height: 26px;
                        width: 1px;
                        background: $smoke-white;
                        position: absolute;
                        top: 25px;
                        right: 0px;
                        transform: translateX(50%);

                    }
                    &:first-child, &:nth-child(2) {
                        flex-grow: 2;
                    }
                    &:nth-child(3) {
                        flex-grow: 1;
                    }
                }
            }
            progress {
                &.ico-progress {
                    &::-webkit-progress-value {
                        background: #00ff99;  /* fallback for old browsers */
                        background: -webkit-linear-gradient(to right, #00ff99, #33ccff) !important;  /* Chrome 10-25, Safari 5.1-6 */
                        background: linear-gradient(to right, #00ff99, #33ccff) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                    }
                    &::-moz-progress-bar {
                        background: #00ff99;  /* fallback for old browsers */
                        background: -webkit-linear-gradient(to right, #00ff99, #33ccff) !important;  /* Chrome 10-25, Safari 5.1-6 */
                        background: linear-gradient(to right, #00ff99, #33ccff) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                    }
                    &::-ms-fill {
                        background: #00ff99;  /* fallback for old browsers */
                        background: -webkit-linear-gradient(to right, #00ff99, #33ccff) !important;  /* Chrome 10-25, Safari 5.1-6 */
                        background: linear-gradient(to right, #00ff99, #33ccff) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                    }
                }
            }
        }
        .button-block {
            text-align: center;
            margin: 20px 0 10px 0;
            padding: 0 15%;
        }
        .icon-block {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px 0;
            i {
                margin: 0 5px;
                color: $smoke-white;
            }
        }
    }
    .text-content {
        h4 {

        }
        p {
            animation-delay: .15s;
        }
        .custom-bullet-list {
            li::before {
                content: "à³¦ ";
                color: $secondary;
            }
            li {
                padding: 10px 0;
                color: $white;
                font-family: 'Open Sans', sans-serif;
                font-weight: 300;
                &:first-child {
                    animation-delay: .15s;
                }
                &:nth-child(2) {
                    animation-delay: .2s;
                }
                &:nth-child(3) {
                    animation-delay: .25s;
                }
                span {
                    &:first-child {
                        font-family: 'Cabin', sans-serif;
                    }
                    &.item-content {
                        margin: 0 16px !important;
                        font-size: 90%;
                        font-family: 'Open Sans', sans-serif;
                        font-weight: 300;
                        color: #e8e8e8;
                    }
                }
            }
        }
    }
}


//countdown
ul#countdown {
    position: relative;
    //top: 50%;
    //transform: translateY(-50%);
    //width: 50%;
    margin: 10px auto;
    padding: 0 10px;
    color: #fff;
    //border: 1px solid #adafb2;
    border-width: 1px 0;
    overflow: hidden;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;

    &.is-pulled-left {
        left: -10%;
    }
    &.is-ico {
        .label {
            color: #f9f9f9;
            font-size: 10px;
        }
    }
    .number {
        background-color: none !important;
    }

    li {
        position: relative;
        margin: 0 -3px 0 0;
        padding: 0;
        display: inline-block;
        width: 25%;
        font-size: 30px;
        //font-size: 6vw;
        text-align: center;
        &:after {
            content: ':';
            position: absolute;
            top: 0;
            right: 0;
        }
        &:last-child {
            &:after {
                content: '';
            }
        }

        .label {
            color: #adafb2;
            font-size: 12px;
            font-weight: 400;
            //font-size: 1.5vw;
            text-transform: uppercase;
        }
    }
}