/*! _layout.scss | Cryptos | Kit 1 | CSS Ninja */

/* ==========================================================================
Layout styles
========================================================================== */

/***
TABLE OF CONTENTS
=============================================================================
0. CSS Imports
1. Index Hero
=============================================================================
***/

/* ==========================================================================
1. Index Hero and Navbar
2. Main content wrapper
3. Partners and Client logos
========================================================================== */

body {
    overflow: hidden;
}

/* ==========================================================================
1. Index Hero and Navbar
========================================================================== */

//Hero
.hero {
    position: relative;
    .animation-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: 100vh;
    }
    //Background gradient
    &.is-hero-gradient {
        @include theme-hero-gradient();
    }
    //Floating squares image
    .hero-square {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    //Js particles
    #particles-js {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    //Navbar
    .navbar {
        position: relative;
        min-height: 4rem;
        transition: all .3s;
        z-index: 99;
        .container {
            min-height: 4rem;
        }
        //Responsive menu icon
        .navbar-burger {
            width: 4rem;
            height: 4rem;
        }
        //Brand
        .navbar-brand {
            min-height: 4rem;
            img {
                max-height: 36px !important;
                height: 36px;
            }
            //brand text
            .brand-name {
                font-family: 'Cabin', sans-serif;
                font-size: 1.2rem;
                font-weight: 600;
                padding: 0 10px;
                text-transform: uppercase;
                letter-spacing: 3px;
            }
            //Removing navbar item default hover behaviour
            &:hover {
                .navbar-item {
                    background: transparent !important;
                }
            }
        }
        //Navbar items
        .navbar-item {
            a.button {
                font-family: 'Cabin', sans-serif; 
                text-transform: uppercase;
                &.hover {
                    font-size: .75rem !important;
                    font-weight: 500 !important;
                }
            }
            //Nav link modifier
            &.is-nav-link {
                a {
                    font-family: 'Cabin', sans-serif;
                    text-transform: uppercase;
                    font-size: .75rem;
                }
            }
        }
        //Color modifiers
        &.is-light, &.is-dark {
            .navbar-brand {
                .brand-name {
                    color: $white;
                }
                .navbar-link::after {
                    border-color: $white;
                }
            }
            .navbar-item {
                a {
                    color: $white;
                }
            }
            .navbar-burger span {
                background-color: $white !important;
            }
            //Responsive menu
            .navbar-menu {
                &.is-active {
                    position: absolute;
                    width: 100%;
                }
            }
        }

        //Fixed navbar modifier
        &.is-fixed {
            min-height: 4rem !important;
            background: $white;
            box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
            a {
                color: $dark-text;
                &:hover {
                    color: $primary;
                }
            }
            //Dark modifier
            &.is-dark {
                background: #2d0275 !important;
                a {
                    color: $white;
                    &:hover {
                        color: #fcfcfc;
                    }
                }
            }
        }
    }
    //Cloned fixed navbar
    #navbar-clone {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        transform: translateY(-100%);
        z-index: 100;
        &.is-active {
            transform: translateY(0); 
        }
    }
    //logo
    .hero-logo {
        height: 80px;
    }
}

//Telegram icon tweaking to insert into navbar
.telegram {
    height: 13px;
    margin: 0 5px;
    position: relative;
    top: 2px;
}


/* ==========================================================================
2. Main content wrapper
========================================================================== */

.content-wrapper {
    padding: 20px 0;
    position: relative;
    z-index: 2;
    //Medium size modifier
    &.is-medium {
        padding: 40px 0;
    }
    //Large size modifier
    &.is-large {
        padding: 60px 0;
    }
}

/* ==========================================================================
3. Sections
========================================================================== */

.section {
    outline: none !important;
    position: relative;
    //Outline reset
    &:active, &:focus {
        outline: none !important;
    }
    //relative modifier
    &.is-relative {
        position: relative;
    }
    //Background colors
    &.is-dark {
        background: #3c019e;
    }
    &.is-darker {
        background: #320184;
    }
    &.is-darkest {
        background: #270068;
    }
    &.is-end {
        background: #1c004c;
    }
    //Background shapes
    .has-bg-shapes {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 0;
    }
}

//Radial gradient background
.has-big-gradient {
    background: url(../images/bg/gradient-left.png) no-repeat top left,url(../images/bg/gradient-right.png) no-repeat top right,#320184;
}

//Dark radial gradient background
.has-big-dark-gradient {
    background: url(../images/bg/gradient-left-darker.png) no-repeat top left,url(../images/bg/gradient-right-darker.png) no-repeat top right,#1c004c;
}

//CTA Spacing
.cta-wrapper {
    margin: 30px 0;
    &.is-small {
        margin: 20px 0;
    }
}

/* ==========================================================================
1. Titles
========================================================================== */

//Common styles
.title, .subtitle {
    //lighttext modifier
    &.is-light {
        color: $white;
        + p {
            color: $white;
        }
    }
    //Semibold modifier
    &.is-semibold {
        font-weight: 600;
    }
    //Thin modifier
    &.is-thin {
        font-weight: 300 !important;
    }
    //Uppercase modifier
    &.is-uppercase {
        text-transform: uppercase;
    }
    //Small spacing modifier
    &.is-tight {
        margin-bottom: 10px !important;
    }
    //Ultra small spacing modifier
    &.is-compressed {
        margin-bottom: 5px !important;
    }
}

//Titles
.title {
    font-family: 'Cabin', sans-serif;
    &.main-title {
        text-shadow: 4px 4px 2px rgba(150, 150, 150, 0.1);
    }
}

//Subtitles
.subtitle {
    font-family: 'Cabin', sans-serif;
    &.is-compact {
        max-width: 600px;
        margin: 0 auto;
    }
}

//Divider
.divider {
    height: 3px;
    width: 75px;
    @include primary-gradient-left();
    margin: 20px 0;
    //Centered modifier
    &.is-centered {
        margin: 20px auto;
    }
    //Long modifier
    &.is-long {
        width: 150px;
    }
    //Acts as a spacing element
    &.is-spacer {
        margin-top: 120px;
    }
}


/* ==========================================================================
3. Partners and Client logos
========================================================================== */

//Wrapper
.partners {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    //Item
    .partner-item {
        margin: 0 10px;
        img {
            height: 100px;
        }
    }
}