/*! _layout.scss | Cryptos | Kit 1 | CSS Ninja */

/* ==========================================================================
Layout styles
========================================================================== */

/***
TABLE OF CONTENTS
=============================================================================
0. CSS Imports
1. Index Hero
=============================================================================
***/

/* ==========================================================================
1. Index Hero
========================================================================== */

body {
    overflow: hidden;
}

//Hero
.hero {
    position: relative;
    .animation-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: 100vh;
    }
    //Background gradient
    &.is-demo {
        background-image: linear-gradient(to bottom, #5202d8 0%, #3c019e 100%);
    }
    .hero-square {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    #particles-js {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    //Navbar
    .navbar {
        position: relative;
        min-height: 4rem;
        transition: all .3s;
        z-index: 99;
        .container {
            min-height: 4rem;
        }
        //Responsive menu icon
        .navbar-burger {
            width: 4rem;
            height: 4rem;
        }
        //Brand
        .navbar-brand {
            min-height: 4rem;
            img {
                max-height: 36px !important;
                height: 36px;
            }
            //brand text
            .brand-name {
                font-family: 'Cabin', sans-serif;
                font-size: 1.2rem;
                font-weight: 600;
                padding: 0 10px;
                text-transform: uppercase;
                letter-spacing: 3px;
            }
            &:hover {
                .navbar-item {
                    background: transparent !important;
                }
            }
        }
        .navbar-item {
            a.button {
                font-family: 'Cabin', sans-serif; 
                text-transform: uppercase;
                &.hover {
                    font-size: .75rem !important;
                    font-weight: 500 !important;
                }
            }
            &.is-nav-link {
                a {
                    font-family: 'Cabin', sans-serif;
                    text-transform: uppercase;
                    font-size: .75rem;
                }
            }
        }
        //Light navbar
        &.is-light, &.is-dark {
            .navbar-brand {
                .brand-name {
                    color: $white;
                }
                .navbar-link::after {
                    border-color: $white;
                }
            }
            .navbar-item {
                a {
                    color: $white;
                }
            }
            .navbar-burger span {
                background-color: $white !important;
            }
            //Responsive menu
            .navbar-menu {
                &.is-active {
                    position: absolute;
                    width: 100%;
                }
            }
        }

        //Fixed navbar modifier
        &.is-fixed {
            min-height: 4rem !important;
            background: $white;
            box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
            a {
                color: $dark-text;
                &:hover {
                    color: $primary;
                }
            }
            &.is-dark {
                background: #2d0275 !important;
                a {
                    color: $white;
                    &:hover {
                        color: #fcfcfc;
                    }
                }
            }
        }
    }
    //Cloned fixed navbar
    #navbar-clone {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        transform: translateY(-100%);
        z-index: 100;
        &.is-active {
            transform: translateY(0); 
        }
    }
    .hero-logo {
        height: 80px;
    }
}

.telegram {
    height: 13px;
    margin: 0 5px;
    position: relative;
    top: 2px;
}

//Main wrapper
.content-wrapper {
    padding: 20px 0;
    position: relative;
    z-index: 2;
    &.is-medium {
        padding: 40px 0;
    }
    &.is-large {
        padding: 60px 0;
    }
}

.section {
    outline: none !important;
    position: relative;
    &:active, &:focus {
        outline: none !important;
    }
    &.is-relative {
        position: relative;
    }
    &.is-dark {
        background: #3c019e;
    }
    &.is-darker {
        background: #320184;
    }
    &.is-darkest {
        background: #270068;
    }
    &.is-end {
        background: #1c004c;
    }
    .hero-square-2 {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 0;
    }
}

.has-big-gradient {
    background: url(../images/bg/gradient-left.png) no-repeat top left,url(../images/bg/gradient-right.png) no-repeat top right,#320184;
}

.has-big-dark-gradient {
    background: url(../images/bg/gradient-left-darker.png) no-repeat top left,url(../images/bg/gradient-right-darker.png) no-repeat top right,#1c004c;
}

.cta-wrapper {
    margin: 30px 0;
    &.is-small {
        margin: 20px 0;
    }
}

/* ==========================================================================
1. Titles
========================================================================== */

.title, .subtitle {
    &.is-light {
        color: $white;
        + p {
            color: $white;
        }
    }
    &.is-semibold {
        font-weight: 600;
    }
    &.is-thin {
        font-weight: 300 !important;
    }
    &.is-uppercase {
        text-transform: uppercase;
    }
    &.is-tight {
        margin-bottom: 10px !important;
    }
    &.is-compressed {
        margin-bottom: 5px !important;
    }
}

.title {
    font-family: 'Cabin', sans-serif;
    &.main-title {
        text-shadow: 4px 4px 2px rgba(150, 150, 150, 0.1);
    }
}

.subtitle {
    font-family: 'Cabin', sans-serif;
    &.is-compact {
        max-width: 600px;
        margin: 0 auto;
    }
}

.divider {
    height: 3px;
    width: 75px;
    background: #7f00ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #7f00ff, #3f00fc) !important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #7f00ff, #3f00fc) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 20px 0;
    &.is-centered {
        margin: 20px auto;
    }
    &.is-long {
        width: 150px;
    }
    &.is-spacer {
        margin-top: 120px;
    }
}



