<!-- Cloned navbar that comes in on scroll -->
<nav
  x-data="initNavbar()"
  x-on:scroll.window="scroll()"
  id="navbar-clone"
  class="navbar is-fixed is-dark"
  :class="{
  'is-active': scrolled,
  '': !scrolled
}"
>
  <div class="container">
    <!-- Brand -->
    <div class="navbar-brand">
      <a href="/" class="navbar-item">
        <img class="rotating" src="/img/logo/krypton-gradient.svg" alt="" />
        <span class="brand-name">Krypton</span>
      </a>
      <!-- Responsive toggle -->
      <div class="navbar-burger" @click="openMobileMenu()">
        <div class="menu-toggle">
          <span
            class="icon-box-toggle"
            :class="{
                      'active': mobileOpen,
                      '': !mobileOpen
                  }"
          >
            <span class="rotate">
              <i class="icon-line-top"></i>
              <i class="icon-line-center"></i>
              <i class="icon-line-bottom"></i>
            </span>
          </span>
        </div>
      </div>
    </div>
    <!-- Menu -->
    <div
      id="cloneNavbarMenu"
      class="navbar-menu"
      :class="{
          'is-active': mobileOpen,
          '': !mobileOpen
      }"
    >
      <div class="navbar-end">
        <!-- Menu item -->
        <div class="navbar-item is-nav-link">
          <a class="is-centered-responsive" href="token">Token</a>
        </div>
        <!-- Menu item -->
        <div class="navbar-item is-nav-link">
          <a class="is-centered-responsive" href="ico">Ico</a>
        </div>
        <!-- Menu item -->
        <div class="navbar-item is-nav-link">
          <a class="is-centered-responsive" href="roadmap">Roadmap</a>
        </div>
        <!-- Menu item -->
        <div class="navbar-item is-nav-link">
          <a class="is-centered-responsive" href="blog">Media</a>
        </div>
        <!-- Menu item -->
        <div class="navbar-item is-nav-link">
          <a class="is-centered-responsive" href="#" target="_blank">
            <img class="telegram" src="/img/logo/telegram.svg" alt="" />
            Telegram
          </a>
        </div>
        <!-- Sign up -->
        <div class="navbar-item is-nav-link">
          <a
            href="#"
            class="button k-button k-primary raised has-gradient slanted"
          >
            <span class="text">Register</span>
            <span class="front-gradient"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- /Cloned navbar -->
