<div class="starfall">
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
</div>
