<footer class="krypton-footer">
    <div class="container">
        <!-- Logo -->
        <div class="footer-logo">
            <a href="#">
                <img class="rotating" src="/img/logo/krypton-gradient.svg" alt="">
                <div class="brand-name">Krypton</div>
                <div class="brand-subtitle">Blockchain brought to another level</div>
            </a>
        </div>
        
        <!-- Columns -->
        <div class="columns footer-columns is-vcentered">
            <div class="column is-4">
                <!-- Links group -->
                <ul class="footer-links">
                    <li>
                        <a href="#">Token</a>
                    </li>

                    <li>
                        <a href="#">ICO</a>
                    </li>

                    <li>
                        <a href="#">Roadmap</a>
                    </li>
                </ul>
            </div>
            <!-- Newsletter -->
            <div class="column is-4">
                <div class="subscribe-block">
                    <form>
                        <!-- Field -->
                        <div class="control">
                            <!-- Special input -->
                            <input class="krypton-subscribe-input" type="email" name="email" placeholder="">
                            <button class="subscribe-button">
                                <span>Subscribe</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Links group -->
            <div class="column is-4">
                <ul class="footer-links">
                    <li>
                        <a href="#">Register</a>
                    </li>

                    <li>
                        <a href="#">Media</a>
                    </li>

                    <li>
                        <a href="#">Telegram</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Copyright -->
        <p class="k-copyright">© 2018-2021 | Krypton. All Rights Reserved</p>
        <br>
        <!-- Made by -->
        <p class="coded-by">Designed and Coded by <a href="https://cssninja.io" target="_blank">Css Ninja</a></p>
    </div>
    
    <!-- Absolute image -->
    <img class="solar-system" src="/img/bg/solar.svg" alt="">
</footer>