<!DOCTYPE html>
<html lang="zxx">
    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title> Krypton :: {{title}}</title>
        <link rel="icon" type="image/png" href="assets/images/favicon.png" />
        
        <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">

        <!--Core CSS -->
        <link rel="stylesheet" href="{{root}}assets/css/bulma.css">
        <link rel="stylesheet" href="{{root}}assets/css/core.css">
        <!--Libraries-->
        <link rel="stylesheet" href="{{root}}assets/fonts/cryptofont/css/cryptofont.min.css">
        <link rel="stylesheet" href="{{root}}assets/js/modalvideo/modal-video.min.css">
        <link rel="stylesheet" href="{{root}}assets/js/aos/aos.css">

    </head>
    <body>
        {{> pageloader}}
        {{> body}}
        {{> scripts}}
    </body>  
</html>
