<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Krypton</title>

    <link rel="icon" type="image/png" href="img/favicon.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">

    <link rel="stylesheet" href="{{root}}/css/app.css">
    <link rel="stylesheet" type="text/css" href="{{root}}/css/main.css">
</head>

<body>

    {{> pageloader}}
    {{> body}}
    {{> footer}}
    {{> backtotop}}

    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="./js/bundle.js"></script>

</body>

</html>